html,
body {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 1rem;
}

#p1 {
  font-size: 1rem;
}

h1 {
  border: 1px solid green;
  border-radius: 10px;
  margin: 0;
  padding: 5px 10px;
  width: 300px;
}

#pic1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section {
  border: 1px solid black;
  padding: 5px;
}

main {
  display: flex;
  justify-content: space-evenly;
  /* 1 dimensional - CSS Grid */
}

#s1 {
  flex: 1;
}

#s2 {
  flex: 1;
}

#s3 {
  flex: 1;
}

/* Media queries?? */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    margin: 20px;
  }
  main {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color: rgb(18, 255, 22);
    margin: 10px;
  }
  main {
    justify-content: center;
  }
}
