.App {
  text-align: center;
  width: 500px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  border: 10px solid green;
  border-radius: 5px;
  width: 300px;
}
